PORT=5000
NODE_ENV=development

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=nolimit_intern

# JWT configuration
ACCESS_TOKEN_SECRET=some_secret_key
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=some_other_secret_key
REFRESH_TOKEN_EXPIRY=7d
